@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sold!</h1>
    <p class="lead">When states, orgs, etc. need to sell fast, you win! Buy, re-sell, or just keep for you.</p>
    <p><a href="@Url.Action("List", "Auction")" class="btn btn-primary btn-lg">Active Auctions &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current Sources</h2>
        <p>
            <ul>
                <li><a href="http://www.wisconsinsurplus.com/" target="_blank">Wisconsin Surplus Auction</a></li>
                <li><a href="https://ibid.illinois.gov/index.php" target="_blank">State of Illinois Online Auction</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>See Active Auctions</h2>
        <p><a class="btn btn-default" href="@Url.Action("List", "Auction")">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Auction Items</h2>
        <p>Set your search criteria and find active auctions.</p>
        <p><a class="btn btn-default" href="@Url.Action("Search", "Auction")">Go &raquo;</a></p>
    </div>
</div>